<div class="category-list">

  <div class="category">
    <div class="category-name">
      <a href="#"><h3>Kategoria pierwsza</h3></a>
    </div>
    <div class="category-description">
      Jakiś opis
    </div>
    <div class="tests-info">
      <div>Liczba testów: 1</div>
    </div>
  </div>

  <div class="category">
    <div class="category-name">
      <a href="#"><h3>Kategoria druga</h3></a>
    </div>
    <div class="category-description">
      Jakiś opis
    </div>
    <div class="tests-info">
      <div>Liczba testów: 2</div>
    </div>
  </div>

  <div class="category">
    <div class="category-name">
      <a href="#"><h3>Kategoria trzecia</h3></a>
    </div>
    <div class="category-description">
      Jakiś opis
    </div>
    <div class="tests-info">
      <div>Liczba testów: 2</div>
    </div>
  </div>

  <div class="category">
    <div class="category-name">
      <a href="#"><h3>Kategoria czwarta</h3></a>
    </div>
    <div class="category-description">
      Jakiś opis
    </div>
    <div class="tests-info">
      <div>Liczba testów: 2</div>
    </div>
  </div>

</div>
