<div class="page-wrapper">

  <div class="page-container">

    <!-- HEADER MENU START -->
    <div class="header-menu">

      <div class="top-menu-list">

        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Testy</h4></a>
          </div>
        </div>

        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Moje wyniki</h4></a>
          </div>
        </div>

        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Rankingi</h4></a>
          </div>
        </div>

        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Mój profil</h4></a>
          </div>
        </div>

        <!-- Lista dla admina -->
        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Użytkownicy</h4></a>
          </div>
        </div>

        <div class="top-menu-list-item">
          <div class="top-menu-list-item-text">
            <a href="#"><h4>Wyloguj</h4></a>
          </div>
        </div>


      </div>


    </div>
    <!-- HEADER MENU END -->
    <div class="main-content">
      <div class="category-list">

        <div class="category">
          <div class="category-name">
            <a href="#"><h3>Kategoria pierwsza</h3></a>
          </div>
          <div class="tests-info">
            <div>Liczba testów: 1</div>
          </div>
        </div>

        <div class="category">
          <div class="category-name">
            <a href="#"><h3>Kategoria druga</h3></a>
          </div>
          <div class="tests-info">
            <div>Liczba testów: 2</div>
          </div>
        </div>

        <div class="category">
          <div class="category-name">
            <a href="#"><h3>Kategoria trzecia</h3></a>
          </div>
          <div class="tests-info">
            <div>Liczba testów: 2</div>
          </div>
        </div>

        <div class="category">
          <div class="category-name">
            <a href="#"><h3>Kategoria czwarta</h3></a>
          </div>
          <div class="tests-info">
            <div>Liczba testów: 2</div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
